/*main.css*/

body {
		background: rgb(115, 255, 102);
}
h1 {
color:rgb(132, 16, 156);
text-align:center;
}

ol {
	font-weight: bold;
}

nav a {
	text-decoration: none;
	color:rgb(102,0,102);
}
#intro {
    text-align: center;
	border-style: solid;
	border-width: medium;
	color:rgb(12, 19, 80);
	background: teal
	
} 

#bio {
	text-align: center;
	margin: 50px;
	font-family: 'Catamaran', sans-serif;
}
#happy {
	text-align: center;
	font-weight: bold;
}

/* Add a black background color to the top navigation */
nav a {
  background-color: #333;
  overflow: hidden;
  float: middle;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
  font-size: 17px;
  background-color: #ddd;
  color: black;
  background-color: #15233b;
  color: white;
}

#blue {	
text-align: center;
}

#green {
text-align: center;
font-family: 'Catamaran', sans-serif;
}

.msg {
	padding: 1em;
	margin:1em 0
	background-color #FFFDE3;
	width: 70%;
	opacity: 0;
	transition: opacity 200ms ease-out;
}

input:not(:placeholder-shown)+.msg{
	opacity: 1;
}
.calculator__keys { 
  display: grid; 
  /* other necessary CSS */ 
}

a {
    text-decoration: none;
    color: green;
}

#hit {

	text-decoration: none;
	color: green;
}

.casa {
	font-family: 'Catamaran', sans-serif;
}

#img-float {
	float:left;
	margin:40px;
	width:450px;
}

.p-class{
	margin:20px;
	padding:25px;
	color: white;
}

#div-float {
	overflow:auto;
	border: solid 5px green;
	background: purple;
}

@media only screen and 
(max-width:600px) {
	#img-float {
		float: left;
		margin: 30px;
		width:300px;
	}
	nav {
		  background-color: #333;
  overflow: hidden;
  float: middle;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 22px;
  background-color: #ddd;
  color: black;
  background-color: #15233b;
  color: white;
	}
}

#div-float {
overflow: auto;

}

}

/*Mobile rule portrait mode*/
@media only screen
and (max-width: 320px) {

body {
margin: 30px;
 
}
nav {
	  background-color: #333;
  overflow: hidden;
  float: middle;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 20px;
  background-color: #ddd;
  color: black;
  background-color: #15233b;
  color: white;
}

}
/*Mobile in lanscape mode*/
@media only screen
and (min-width: 321px)
and (max-width: 480px) {

}
/*Tablets*/
@media only screen
and (min-width: 768px)
and (max-width: 1024px){

}
/*Desktops and latop computers*/
@media only screen
and (min-width: 1224px){

}

a:hover {
  background-color: purple;
  color: white;
  padding: 1px;
  border: white 5px solid;
}










