/*main.css*/

body {
		background: rgb(115, 255, 102);
}
h1 {
color:rgb(132, 16, 156);
text-align:center;
}

ol {
	font-weight: bold;
}

nav a {
	text-decoration: none;
	color:rgb(102,0,102);
}
#intro {
    text-align: center;
	border-style: solid;
	border-width: medium;
	color:rgb(12, 19, 80);
	background: teal
	
} 

#bio {
	text-align: center;
	margin: 50px;
	font-family: 'Catamaran', sans-serif;
}
#happy {
	text-align: center;
	font-weight: bold;
}

/* Add a black background color to the top navigation */
nav {
  background-color: #333;
  overflow: hidden;
  float: middle;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
  font-size: 17px;
  background-color: #ddd;
  color: black;
  background-color: #15233b;
  color: white;
}

#blue {	
text-align: center;
}

#green {
text-align: center;
font-family: 'Catamaran', sans-serif;
}

.msg {
	padding: 1em;
	margin:1em 0
	background-color #FFFDE3;
	width: 70%;
	opacity: 0;
	transition: opacity 200ms ease-out;
}

input:not(:placeholder-shown)+.msg{
	opacity: 1;
}
.calculator__keys { 
  display: grid; 
  /* other necessary CSS */ 
}

a {
    text-decoration: none;
    color: green;
}

#hit {

	text-decoration: none;
	color: green;
}

.casa {
	font-family: 'Catamaran', sans-serif;
}






